<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>photos by urdh – $title$</title>
    <link rel="stylesheet" href="/general.css">
  </head>
  <body>
    $-snippet("templates/sidebar.html")$
    <main>
      $body$
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>
      $$(function () {
        // Save the initial offset of every image
        visualViewport.onresize = function() {
          $$('.photo picture>img').each(function() {
            $$(this).data('baseline-left', $$(this).offset().left);
            $$(this).data('baseline-top', $$(this).offset().top);
          });
        };
        visualViewport.onresize();
        // Magnifying a photo.
        $$('.photo picture>img').click(function() {
          $$('.magnified').not($$(this)).removeClass('magnified');
          $$(this).toggleClass('magnified');
          if ($$(this).hasClass('magnified')) {
            $$('.sidebar').addClass('hidden');
            if ($$('main').css('display') == 'flex') {
              var offset = $$('.sidebar').outerWidth() + parseFloat($$('.sidebar').css('left'));
              var baseline = $$(this).data('baseline-left') || $$(this).offset().left;
              $$([document.documentElement, document.body]).animate({
                  scrollLeft: (baseline - offset)
              }, 300);
            } else {
              var offset = $$(window).height() * 0.1;
              var baseline = $$(this).data('baseline-top') || $$(this).offset().top;
              $$([document.documentElement, document.body]).animate({
                  scrollTop: (baseline - offset)
              }, 300);
            }
          } else {
            $$('.sidebar').removeClass('hidden');
          }
        }).css('cursor', 'pointer');
        // Scrolling horizontally.
        window.addEventListener('wheel', function(event) {
          if (event.deltaY && ($$('main').css('display') == 'flex')) {
            $$('body').scrollLeft($$('body').scrollLeft() + event.deltaY);
            event.preventDefault();
          }
        }, { 'passive': false });
      });
    </script>
  </body>
</html>
