<article class="photo" typeof="http://purl.org/dc/dcmitype/StillImage">
  <meta property="dc:creator" content="$exif("artist")$">
  <meta property="dc:created" content="$taken$">
  <picture>
    <source media="(max-height: 480px)" srcset="$url("480px")$ 1x, $url("960px")$ 2x">
    <source media="(min-height: 481px)" srcset="$url("800px")$ 1x">
    <img src="$url("960px")$">
  </picture>
  <h2 property="dc:title">
    $title$
  </h2>
  <div class="metadata">
    <p>
      <span class="camera">$exif("camera")$$if(exif("lens"))$ + $exif("lens")$$endif$</span>
    </p>
    <p>
      $if(exif("filmtype"))-$
        <span class="film">$exif("filmtype")$</span>
      $else$
        <span class="film">Digital</span>
      $endif$
      $if(exif("shutter"))$
        $-if(exif("aperture"))$
          <span class="technical">$exif("shutter")$ at $exif("aperture")$</span>
        $else$
          <span class="technical">$exif("shutter")$</span>
        $-endif$
      $-endif$
      $if(exif("speed"))$<span class="iso">(ISO $exif("speed")$)</span>$endif$
    </p>
    <p class="license" property="dc:rights" content="$exif("copyright")$">
      $-if(exif("license"))$
        <a rel="license" href="$exif("license")$">$exif("copyright")$</a>
      $else$
        $exif("copyright")$
      $endif$
    </p>
  </div>
</article>
